<div class="heading">
 <div class="nav-container">
    <div class="col-xs-11">
            <div class="title col-xs-4">
              Polling System
            </div>
            <div class="nav-bar col-xs-8">
                    <a ui-sref="master.groups" ng-class="currentState.indexOf('master.groups') !=-1 ? 'active':''">Group Management</a>
                    <a ui-sref="master.polls" ng-class="currentState.indexOf('master.polls') !=-1 ? 'active':''">Polls</a>
                    <a ui-sref="master.pollSetting" ng-class="currentState.indexOf('master.pollSetting') !=-1 ? 'active':''">Poll Settings</a>
            </div>
        </div>
        <div class="col-xs-1 logout">
		<!--<img class="img-responsive" src="content/images/Persistent.png" style="float: right">-->
       <a ui-sref="login">Logout</a>
    </div>
    </div>
    
	
 </div>
   
	<div>
		<div ui-view></div>
	</div>

</div>