<div class="heading">
 <div class="nav-container">
    <div class="col-xs-11">
            <div class="title col-xs-4">
              Polling System
            </div>
            <div class="nav-bar col-xs-8">
                    <a ui-sref="master.groups">Group Management</a>
                    <a ui-sref="master.polls">Polls</a>
                    <a ui-sref="master.pollSetting">Poll Settings</a>
            </div>
        </div>
        <div class="col-xs-1 logout">
		<!--<img class="img-responsive" src="content/images/Persistent.png" style="float: right">-->
       <a>Logout</a>
    </div>
    </div>
    
	
 </div>
   
	<div>
		<div ui-view></div>
	</div>

</div>